.textbox{
    
    h2{
        font-size:40px;
        line-height: 83.33px;
        letter-spacing: 0.07em;
        font-weight: bold;
        color:black;        
    }    
    p{
        
        font-size:16px;
        line-height: 22px;
        letter-spacing: 0.025em;
        color:#464646;
    }
    a{
        margin-top:36px;
        display:block;
        text-decoration: none;
        font-size:14px;
        font-weight: bold;
        width: 155px;
        letter-spacing: 0.2em;
        line-height: 58.33px;
        color:black;
        position: relative;
        &:hover{
            img{
                transform:translate(30%,-50%);
                transition: all .2s cubic-bezier(.68,.19,.02,.63);
            }
        }
        &::after{       
            position: absolute;
            bottom:25%;    
            border-style: solid;
            border-width: 1px;            
            display:block;
            content:"";
            width: 38px;
            color: #bea67c;
            background-color: #bea67c;
        }
        img{
            transform: translate(0,-50%);
            transition: all .2s cubic-bezier(.68,.19,.02,.63);
        }
        &:nth-child(2){
            float:right;
        }
    }
}