
.container{
    width:1010px;
    margin:auto;
}
.container-fluid{
    padding:0 15px;
    margin:auto;
}

@font-face {
    font-family: 'pe';
    src: url('/font/ProximaNovaA-Extrabld.woff2') format('woff2'),
        url('/font/ProximaNovaA-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'pr';
    src: url('/font/ProximaNova-Regular.woff2') format('woff2'),
        url('/font/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'pb';
    src: url('/font/ProximaNova-Bold.woff2') format('woff2'),
        url('/font/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face{
    font-family: 'Proxima Nova';
    src: url(/font/Proxima-Nova-Regular.otf),
        url(/font/Proxima-Nova-Alt-Extrabold.otf),
        url(/font/Proxima-Nova-Bold.otf);
    
}
@keyframes scrollslider{
    from{
        transform: translateY(10%);
        opacity: 0;
    }
    to{
        transform: translateY(50%);
        opacity: 1;
    }
}