main{

    /** SLIDER **/
    .slider{
        position: relative;
        // width: 100%;
        max-height: 832px;
        height: 100vh;
        overflow: hidden;
        // height: 832px;
        .slider__list{      
            position: relative;    
            width: 100%;
            height: 100%;  
            .carousel-cell {
                width: 100%; /* full width */
                height: 100%; /* height of carousel */
              }      
            .slider__item{
                // display:none;
                display:flex;
                justify-content: center;
                align-items: center;
                position: relative;
                height: 100%;
                // transition: .5s;
                width: 100%;
                // &.active{
                //     display:flex;
                    
                //     transition: .5s;
                // }
                .slider__item-img{
                    height:100%;
                    width: 100%;
                    margin:auto;
                    display:block;
                    object-fit: cover;
                }
                .text{
                    position: absolute;                            
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;           
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);             
                    h2{
                        font-size: 83.33px;
                        letter-spacing: 0.2em;
                        line-height: 83.3px;
                        color:#bea67c;
                        font-weight: bold;
                        text-align: center;
                    }
                    a{
                        font-size:14px;
                        line-height: 58.31px;
                        letter-spacing: 0.2em;
                        color: white;
                        font-weight: bold;
                        border:1px solid white;
                        padding:0 50px;
                        text-decoration: none;
                        margin-top:50px;
                        font-family: 'Proxima Nova';
                        position: relative;
                        overflow: hidden;
                        
                        span{
                            position: relative;
                            z-index: 1;
                        }
                        &::after{
                            position: absolute;
                            content:"";
                            
                            width: 100%;
                            height: 100%;
                            top:0;
                            left:0;
                            z-index: 0;
                            transform: scaleX(0);
                            transform-origin: center left;
                            background-color: rgba(190,166,124,0.7);
                            transition: .4s linear;
                            z-index: 0;
                        }
                        &:hover{
                            &::after{
                                transform-origin: center right;
                                transform: scaleX(1.2);                                        
                                transition: .4s linear;
                            }
                        }
                        img{
                            padding-left:18px;
                        }
                    }
                }
            }
        }
        .slider__bottom{
            width: 100%;
            position: absolute;
            bottom:35px;
            .container-fluid{
                display:flex;
                justify-content:space-between;
                align-items: flex-end;
                
                .paging{
                    margin-left:calc(90px - 29px);
                    display:flex;
                    position: relative;                            
                    .number{
                        color:#bea67c;
                        font-size: 43.81px;
                        letter-spacing: 0.1em;
                        line-height: 48.68px;
                        font-weight: bold;
                        
                        &::after{
                            display:block;
                            content: "";
                            border-style: solid;
                            border-width: 2px;
                            border-color: #bea67c;
                            width: 42px;
                            left:-100%;
                            top: 45%;
                            position: absolute;
                            background: #bea67c;
                        }
                    }
                    .dot{
                        display:flex;
                        align-items: center;
                        ol{                 
                            display:flex;        
                            align-items: center;
                            padding-left:15px;
                            li{
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                                background: #6E6E6E;
                                margin:0 3px;
                                cursor: pointer;
                                transition: .5s;
                                &.active{
                                    background:#bea67c;
                                    transition: .5s;
                                }
                                // &:nth-child(1)
                                // {
                                //     background:#bea67c;
                                // }
                            }
                        }
                    }
                }
                .scroll{
                    display:flex;
                    flex-direction: column;
                    height: 100px;
                    position: absolute;
                    left:50%;
                    transform: translateX(-50%);
                    
                    img:nth-child(2){
                        animation: scrollslider 1.2s infinite;
                        
                    }
                }
                .control{
                    display:flex;
                    
                    a{
                        display:flex;
                        justify-content: center;
                        align-items: center;    
                        width: 66px;
                        height: 42px;
                        border:1px solid white;
                        transition:all .4s;
                        cursor: pointer;
                        &:hover{
                            background-color: #bea67c;
                        }
                        
                    }
                    
                }
            }
        }
    }
    
    /* PRODUCT */
    .product{
        margin-top:93px;
        .container{
            .product__item{
                margin-bottom: 105px;
                display:flex;
                align-items: center;
                .content{
                    width: 47.337%;
                    padding: 0 90px;
                }
                .img{
                    width: calc(100% - 47.337%);
                    height: auto;
                    overflow: hidden;
                    &:hover{
                        
                        img{
                            transform:scale(1.05);
                            filter: grayscale(100%);
                        }
                    }
                    img{
                        cursor: pointer;
                        max-width: 100%;
                        display: block;
                        width: 100%;
                        
                        transition:transform 1s linear;
                    }
                }
                a{
                    text-align: left;
                    display:flex;
                    align-items: center;
                    height: 30px;
                    p{
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                    img{
                        width: 20px;
                        
                    }
                    // position: relative;
                    
                    // img{
                    //     width: 30px;
                    //     position: absolute;
                        
                    // }
                }
                &:nth-child(1){
                    h2{
                        position: relative;
                        &::before{
                            position: absolute;
                            content:"";
                            display:block;
                            width: 80px;
                            border-width: 1px;
                            border-style: solid;
                            border-color: #bea67c;
                            background-color: #bea67c;
                            left:-90px;
                            top:45%;
                        }
                    }
                }
                &:nth-child(2)
                {
                    h2{
                        position: relative;
                        &::after{
                            position: absolute;
                            content:"";
                            display:block;
                            width: 80px;
                            border-width: 1px;
                            border-style: solid;
                            border-color: #bea67c;
                            background-color: #bea67c;
                            right:-90px;
                            top:45%;
                        }
                    }
                    .content{
                        text-align: right;
                        a{
                        
                            float: right;
                        }
                    }                            
                }
            }
        }
    }


    /** QUALITY **/
    .quality{
        .container{
            .textbox{
                text-align: center;
                display:flex;
                flex-direction: column;
                align-items: center;
                h2{
                    position: relative;
                    &::after
                    {
                        position: absolute;
                        content:"";
                        display:block;
                        border-color: #bea67c;
                        border-width: 1px;
                        border-style: solid;
                        background-color: #bea67c;
                        width: 40px;
                        left:50%;
                        bottom:10px;
                        transform: translateX(-50%);
                    }
                }
                p{
                    width: 460px;
                }
            }
            .quality__video{
                margin-top:65px;
                display:flex;
                justify-content: space-around;
                .quality__video-item{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    .item__wrapper-img{
                        padding:5px;
                        border:1px solid #D8D8D8;
                        border-radius: 50%;       
                        position: relative;
                        cursor: pointer;
                        &:hover{
                            div{
                                img{
                                    transform: scale(1.2);
                                    filter: brightness(70%);
                                }
                            }
                        }
                        &::after{
                                position: absolute;
                                content:"";
                                display:block;
                                border-color: #bea67c;
                                background-color: #bea67c;
                                border-width: 1px;
                                border-style: solid;
                                width: 25px;
                                bottom:-15%;
                                left:50%;
                                transform: translateX(-50%);
                        }                         
                        div{
                            width: 200px;
                            height: 200px;
                            overflow: hidden;
                            border-radius: 50%;
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            -webkit-tap-highlight-color: transparent;
                            span{
                                position: absolute;
                                content:"";
                                display:block;
                                width: 55px;
                                height: 55px;
                                border-radius: 50%;
                                background-color:rgba(190,166,124,0.7);
                                cursor: pointer;
                                    &::before{
                                    position: absolute;
                                    content:"";
                                    display:block;
                                    border-radius: 2px;
                                    border-width:10px;
                                    border-style: solid;
                                    border-color: transparent transparent transparent white;
                                    z-index: 1;
                                    cursor: pointer;
                                    transform: translate(-20%,-50%);
                                    top:50%;
                                    left: 50%;
                                }
                            }
                            // &::after{
                            //     position: absolute;
                            //     content:"";
                            //     display:block;
                            //     width: 55px;
                            //     height: 55px;
                            //     border-radius: 50%;
                            //     background-color:rgba(190,166,124,0.7);
                            //     cursor: pointer;
                            // }
                            
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;   
                                transition: all .5s linear;                       
                            }
                        }
                        
                    }
                    p{
                        font-weight: bold;
                        margin-top:45px;
                    }
                }
            }
        }
    }

    /** WE DO **/
    .wedo{
        margin-top:90px;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/background1.jpg") no-repeat center;
        background-size: cover;
        height: 640px;
        position: relative;
        background-attachment: fixed;
        .container{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            .content{
                max-width: 600px;
                h2{
                    color:#bea67c;
                    line-height: 50px;
                    letter-spacing: 0.025em;
                }
                p{
                    margin-top:45px;
                    color:white;
                }
                a{
                    width: auto;
                    white-space: nowrap;
                    display: inline-flex;
                    align-items: center;
                    color: white;
                    font-size: 12px;
                    overflow: hidden;
                    letter-spacing: 0.02em;
                    font-weight: bold;
                    border: 1px solid white;
                    padding: 0 60px;
                    height: 50px;
                    text-align: center;
                    justify-content: center;
                   
                    
                    span{
                        
                        z-index: 1;
                    }
                    img{
                        
                        margin-right: 13px;
                        width: 20px;
                        transform: none;
                    }
                    &:hover{
                        
                        &::after{
                            transform:scale(1.2);
                            transition: all 0.7s cubic-bezier(1,1.11,.41,-1.08)
                            
                        }
                        // span{
                        //     color:black;
                        //     transition: all .5s cubic-bezier(.92,.16,.02,.63);
                        // }
                        
                    }
                    &::after{
                        position: absolute;
                        top:0;
                        left:0;
                        content:"";
                        display:block;
                        width: 100%;
                        height: 100%;
                        transform: scaleY(0);
                        transform-origin: center center;
                        background:rgba(255,255,255,0.5);
                        transition: all 0.7s cubic-bezier(1,1.11,.41,-1.08);
                        
                    }
                }
            }
        }
    }

    /** ABOUT US **/
    .aboutus{
        padding:100px 0;
        .container{
            display:flex;      
            align-items: center;              
            .img{
                width: 50%;
                img{
                    max-width: 100%;
                }
            }
            .content{
                padding:0 0 0 70px;
                width: 50%;
                h2{
                    position: relative;
                        &::before{
                            position: absolute;
                            content:"";
                            display:block;
                            width: 80px;
                            border-width: 1px;
                            border-style: solid;
                            border-color: #bea67c;
                            background-color: #bea67c;
                            left:-90px;
                            top:45%;
                        }
                }
                p{

                }
                a{
                    text-align: left;
                    display:flex;
                    align-items: center;
                    height: 30px;
                    p{
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                    img{
                        width: 20px;
                        
                    }
                    // position: relative;
                    
                    // img{
                    //     width: 30px;
                    //     position: absolute;
                        
                    // }
                }
            }
        }
    }

    /** GALLERY **/
    .gallery{                
        background:black;
        .container{
            display:flex;
            flex-direction: column;
            .content{
                margin-top:95px;
                width: 450px;
            
                h2{
                    color:white;
                }
                p{
                    color:white;
                }
            }
            .gallery__grid{
                margin-top:50px;
                margin-bottom:95px;
                display:grid;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(2,200px);
                grid-gap: 10px;
            
                .gallery__img{
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    &:hover{
                        img{
                            filter: brightness(70%);
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all .3s linear;
                    }
                    &:nth-child(3){
                        grid-area: 1/2/3/3;
                    }
                }
                
                
            }
        }
    }

    /** NEWS **/
    .news{
        margin:90px 0;
        .container{
            .content{
                width: 450px;
                h2{

                }
                p{

                }
            }
            .news__list{
                display:flex;
                margin-top:50px;
                
                .news__item{
                    display:flex;
                    flex-direction: column;
                    
                    padding:10px;
                    
                    img{
                        width: 100%;
                        cursor: pointer;
                    }
                    h3{
                        margin-top:50px;
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 0.02em;
                        line-height: 24px;
                        height: 50px;
                        position: relative;
                        cursor: pointer;
                        &::after{
                            position: absolute;
                            content:"";
                            display:block;
                            border-width: 1px;
                            border-color: #bea67c;
                            background-color: #bea67c;
                            border-style: solid;
                            width: 85px;
                            top:-50%;
                        }
                    }
                    p{
                        font-size: 15px;
                        margin-top:20px;
                        line-height: 20px;
                        letter-spacing: 0.025em;

                    }
                }
            }
        }
    }

    /** CAROUSEL **/
    .carousel{
        margin-bottom:90px;
        .carousel__list{
            display:flex;
            overflow: hidden;
            img{
                margin:0 12.5px;
            }
        }
    }
}



@include tablet {
    main{
        .slider{
            .slider__list{
                .slider__item{
                    .text{
                        h2{
                            font-size: 65px;
                        }
                        a{
                            line-height: 45px;
                            margin-top: 25px;
                            padding:0 42px;
                            img{
                                padding:0;
                            }
                        }
                    }
                }
            }
            .slider__bottom{
                .container-fluid{
                    .scroll{
                        display:none;
                    }
                    .control{
                        a{
                            height: 38px;
                            width: 64px;
                        }
                    }
                    .paging{
                        .number{
                            font-size: 40px;
                            &::after{
                                left:-80%;
                            }
                        }
                        .dot{
                            ul{
                                padding-left:5px;
                                li{
                                    width: 10px;
                                    height: 10px;

                                }
                            }
                        }
                    }
                }
            }
        }
        .product{
            .container{
                max-width: 100%;
                .product__item{
                    a{
                        margin-top:20px;
                    }
                    &:nth-child(1)
                    {
                        h2{
                            &::before{
                                width: 40px;
                                left: -50px;

                            }
                        }
                    }
                    &:nth-child(2)
                    {
                        h2{
                            &::after{
                                width: 40px;
                                right: -50px;
                            }
                        }
                    }
                    .content{
                        width: 50%;
                        padding:0 50px;
                    }
                    .img{
                        width: 50%;
                        img{

                        }
                    }
                }
            }
        }
        .quality{
            .container{
                .quality__video{
                    .quality__video-item{
                        .item__wrapper-img{
                            div{
                                width: 180px;
                                height: 180px;
                            }
                        }
                    }
                }
            }
        }
        .news{
            .container{
                max-width: 100%;
            }
        }
    }
    
}
@include mobile{    
    main{
        .product{
            .textbox{
                display:flex;
                flex-direction: column;
                align-items: center;
                h2{
                    font-size: 38px;
                    width: 100%;
                    text-align: center;
                }
                p{
                    text-align: center;
                }
                a{
                    
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    &::after{
                      
                    }
                }
            }
            margin-top:45px;
            .container{
                width: 100%;
                .product__item{
                    display:flex;
                    flex-direction: column;
                    margin-bottom: 80px;
                    &:nth-child(1){
                        h2{
                            &::before{
                                display: none;
                            }
                        }
                    }
                    &:nth-child(2){
                        display:flex;
                        flex-direction: column-reverse;
                        .content{
                            text-align: left;
                            a{
                                float:none;
                            }
                        }
                        h2{
                            &::after{
                                display:none;
                            }
                        }
                    }
                    a{
                        margin-top:10px;
                    }
                    .content{
                        width: 100%;
                        padding:0 0;
                    }
                    .img{
                        margin-top:30px;
                        width: 100%;
                    }
                }
            }
        }
        .slider{
            .slider__list{
                .slider__item{
                    .slider__item-img{
                        height: 100vh;
                        object-fit: cover;
                    }
                    .text{
                        h2{
                            font-size: 55px;
                            letter-spacing: 0.1em;
                        }
                        a{
                            line-height: 47px;
                            padding: 0 25px;
                            margin-top:30px;
                            img{
                                
                            }
                        }
                    }
                }
            }
            .slider__bottom{
                .container-fluid{
                    align-items: center;
                    .paging{
                        margin-left:0;
                        .number{
                            font-size: 40px;
                            &::after{
                                display: none;
                            }
                        }
                        .dot{
                            ul{
                                padding-left: 5px;
                                li{
                                    width: 9px;
                                    height: 9px;
                                }
                            }
                        }
                    }
                    .scroll{
                        display:none;
                    }
                    .control{
                        a{
                            width: 60px;
                            height: 40px;
                        }
                    }
                }
            }
        }
        .quality{
            width: 100%;
            .textbox{
                display:flex;
                flex-direction: column;
                align-items: center;
                h2{
                   
                    width: 100%;
                    text-align: center;
                }
                p{
                    text-align: center;
                }
                a{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    &::after{
                      
                    }
                }
            }
            .container{
                width: 100%;
                .textbox{
                    h2{
                        font-size: 38px;
                        line-height: 55px;
                        width: 100%;
                        &::after{
                            bottom:-4px;
                        }
                    }
                    p{
                        width: 100%;
                        margin-top: 20px;
                    }
                }
                .quality__video{
                    display: flex;
                    flex-wrap: wrap;
                    .quality__video-item{
                        margin-bottom: 50px;
                        width: 100%;
                        .item__wrapper-img{
                            &::after{
                                bottom:-10%;
                            }
                        }
                        p{
                            margin-top:35px;
                        }
                    }
                }
            }
        }
        .wedo{
            height: 550px;
        }
        .aboutus{
            width: 100%;
            .textbox{
                display:flex;
                flex-direction: column;
                align-items: center;
                h2{
                    width: 100%;
                    text-align: center;
                }
                p{
                    text-align: center;
                }
                a{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    &::after{
                      
                    }
                }
            }
            .container{
                width: 100%;
                display:flex;
                flex-direction: column;
                .img{
                    width: 100%;
                    img{
                        max-width: 100%;
                    }
                }
                .content{
                    padding: 0 0;
                    width: 100%;
                    a{
                        margin-top:20px;
                        &::after{
                            bottom:0;
                        }
                    }
                    h2{
                        &::before{
                            display:none;
                        }
                    }
                }
            }
        }
        .gallery{
            width: 100%;
            .container{
                width: 100%;
                .content{
                    margin-top:45px;
                    width: auto;
                }
                .gallery__grid{
                    grid-template-columns: repeat(2,1fr);
                    .gallery__img
                    {
                        &:nth-child(3){
                            grid-area: 3/1/4/3;
                        }
                        
                    }
                }
            }
        }
        .news{
            .container{
                .content{
                    width: 100%;
                }
                .textbox{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2{

                    }
                    p{
                        text-align: center;
                    }
                }
                .news__list{
                    display: flex;
                    flex-direction: column;
                    margin-top:30px;
                    .news__item{
                        width: 100%;
                        margin-bottom:40px;
                        &:nth-child(3)
                        {
                            margin-bottom:0;
                        }
                        img{

                        }
                        h3{
                            text-align: center;
                            margin:0;
                            padding:35px 0;
                            height: 50px;
                            font-size: 22px;
                            &::after{
                                top:30%;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        p{
                            margin-top:25px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}



